<div>
    <div class="container-fluid">
        <div class="headerc">

            <div class="row">
                <div class="col-md">
                    <img src="./assets/images/ministry-nic-logo.png">
                </div>
                <div class="col-md">
                    <img src="./assets/images/parivahan-logo.png">
                </div>
                <div class="col-md">
                    <p>Date: 10-10-2022</p>
                    <p>Time: 10:20:100</p>

                </div>
            </div>

        </div>
    </div>
</div>
