<footer>
    <div class="container-fluid">
        <div class="fh1">
            <div class="row">
                <div class="col-md-2">
                    <div class="p-2 m-2">
                        <img src="./assets/images/logo.png" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="p-2 m-2">
                        <img src="./assets/images/digital_logo_main.png" />
                    </div>
                </div>
                <div class="col-md-4">.col-md-3</div>
                <div class="col-md-4">.col-md-4</div>
            </div>
        </div>
    </div>
</footer>
